/*Import TailwindCSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Estilos del fondo de la sección de bienvenida*/

#welcome-section {
    background-image: url("../img/FondoTotal.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Fin*/